/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.wrap {
    width: 500px;
    clear: both;
}

.wrap input.regular-text {
    width: 100%;
    clear: both;
    margin-bottom: 8px;
}

#change-api-password {
    display: none;
}